! special
*background: #1a1b26
*foreground: #c0caf5
*.cursorColor:  #c5c8c6

*color0: #15161e
*color1: #f7768e
*color2: #9ece6a
*color3: #e0af68
*color4: #7aa2f7
*color5: #bb9af7
*color6: #7dcfff
*color7: #a9b1d6

*color8: #414868
*color9: #f7768e
*color10: #9ece6a
*color11: #e0af68
*color12: #7aa2f7
*color13: #bb9af7
*color14: #7dcfff
*color15: #c0caf5

URxvt*font: xft:JetBrains Mono Nerd Font:style=Regular:size=8
URxvt.scrollBar: false
URxvt*scrollBar_right: false
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007

Xcursor.theme: capitaine-cursors
Xcursor.size: 28
